.content-page {
  display: flex;
  justify-content: center;
}

.content-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 600px;
  @media (max-width: 600px) {
    width: 90%;
  }

  .media-container {
    margin: 20px 10px;
    display: flex;
    justify-content: center;
    @media (max-width: 600px) {
      margin: 0px;
    }
    img {
      width: 564px;
      border-radius: 8px;
      @media (max-width: 600px) {
        width: 100%;
      }
    }
    .content-info {
      margin: 10px 0;
      .title {
        font-size: larger;
      }
    }
  }

  .lang-tabs {
    padding: 0px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  .tab-panel-container {
    padding: 10px 30px;
    margin-bottom: 30px;
  }
  // background-color:yellow;
}
