////////////////////////////////
// Gray Shades
////////////////////////////////

$c-white: #ffffff;
$c-gray-98: #f3f3f3;
$c-gray-95: #ededed;
$c-gray-90: #e3e3e3;
$c-gray-85: #d9d9d9;
$c-gray-80: #cccccc;
$c-gray-75: #c0c0c0;
$c-gray-70: #b0b0b0;
$c-gray-60: #999999;
$c-gray-50: #808080;
$c-gray-45: #727272;
$c-gray-40: #696969;
$c-gray-30: #4d4d4d;
$c-gray-20: #363636;
$c-gray-15: #222222;
$c-gray-10: #171717;
$c-black: #000000;
$c-black-80:#000000b3;
$c-black-60:#00000066;
$c-black-40:#00000033;
$c-black-20:#0000000d;
$c-black1: #262626;
$c-black2: #333;
$c-black3: #444;
$c-black4:#25000e;
$c-black5:#0d0b2e;
$c-black6:#161452;
$c-grey6: #666;
$c-grey8: #888;
$c-grey6c: #6c6c6c;
$c-greya: #aaa;
$c-greybd: #bdc3c7;
$c-greybb:#bbb;
$c-greydd:#ddd;
$c-greydb:#dbdbdb;
$c-grey1a:#0000001a;
$c-grey1f:#0000001f;
$c-grey24:#00000024;



$c-darkblue2: #0a1066;
$c-darkblue1: #141852;
$c-navyblue: #34495e;
$c-blue1: #3498db;
$c-blue2:#2f2fc6;
$c-blue3:#289bc3;
$c-blue4:#93d4f1;
$c-blue5:#255dad40;
$c-blue6:#c0e1ed;
$c-cyanblue: #83ffff;
$c-lightblue: #cfddf3;




$c-darkgreen: #046542;
$c-green1: #29a877;
$c-green2: #04aa6c;
$c-green3: #249468;
$c-green4: #009060;
$c-green5:#008f5fb3;
$c-green6:#b1c86e;
$c-green7:#cadd99;
$c-green8:#29a87759;
$c-lightgreen: #34e0a1;
$c-grass: #5f9326;


$c-darkpurple: #4d40a6;
$c-purple1: #8e44ad;
$c-purple2:#800080;
$c-purple3:#52143a67;


$c-red: #cc0200;
$c-redpink: #da1f35;
$c-golbehi1: #df5555;
$c-golbehi2: #e74c3c;
$c-pink: #f15d5d;
$c-pink1: #ee324d;
$c-pink2: #fc275c;
$c-lightpink:#f6eaf6;

$c-brown:#830000;
$c-lightbrown:#a46c15;

$c-bittersweet: #ff725d;
$c-orange1: #fc692d;
$c-orange2: #e67e22;
$c-yellow: #fdb024;
$c-lightorange1:#ddb65e;
$c-lightorange2:#fddca1;
$c-lightorange3:#ffedc4;

$c-white1: #f9f1ec;
$c-white2: #eaf9f3;
$c-white3: #ebebeb;
$c-white4: #edecf6;
$c-white5: #eee;
$c-white6: #f0ece9;
$c-white7: #f2f2f2;
$c-white8: #f4f4f4;
$c-white9: #f8f8f8;
$c-white9: #fafafa;
$c-white10: #fcf7f3;
