@import 'src/theme/main.scss';
.main-layout {
  background-color: $c-layout-bg;

  &__container {
    position: relative;
    min-height: calc(100vh - 160px);
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 150px;
    padding-top: 40px;
  }
}
